# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Migrations (optional)
# comment this if you want migrations
*/migrations/*
!*/migrations/__init__.py

# Static files
staticfiles/

# Coverage / testing
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Secrets
*.key
*.pem